$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #ffffff;

@import 'vendor/normalize.css';
@import 'vendor/skeleton.css';
@import 'vendor/fullpage.min.css';
@import 'vendor/video-js.css';

@import 'mixins';