$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #ffffff;

@import url('vendor/normalize.css');
@import url('vendor/skeleton.css');

body {
  line-height: 1.25;
  background: $secondary-color;
  margin: 0;
}
h1, h2, h3, h5 {
    background-color: transparent;
}
h1 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  background-color: transparent;    
}
h1, h2 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
h5, p, h3 {
  font-size: 25px;
}
.row {
  min-height: 200px;
  minwidth: 100%;
}
.row1 {
  min-height: 50px;
  width: 100%;
}
#header {
  height: 30px;
  width: 100%;
  text-align: right;
  margin: 3px;
}
/* NAV */
#hamburger {
  font-size: 30px;
  cursor: pointer;
  color: grey;
  background-color: none;
  display: block;
  padding: 10px;
  z-index: +1;
  position: fixed;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: $primary-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  a {
    padding-top: 40px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: $font-stack;
    cursor: pointer;
    text-align: center;
    letter-spacing: 3px;
    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}
.offcanvas a:focus {
  color: $primary-color;
  background-color: $secondary-color;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
a.closebtn:hover {
  background-color: $primary-color;
}
#app {
  transition: margin-left .5s;
  padding: 20px;
    margin: 5%;
}
/* STYLE SHEET TOGGLE */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $secondary-color;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input {
  &:checked + .slider {
    background-color: #2196F3;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

/* ROW 1 */

#absolute {
  position: absolute;
}

.card-stacked {
  position: relative;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 30%;
  padding: 3px;
  z-index: 2;
}

.image img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  padding: 3px;
}
/* TABLE */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px;
  width: 100%;
  table-layout: fixed;
  caption {
    font-size: 1.5em;
    margin: .5em .5em .5em .5em;
  }
  tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  th, td {
    padding: .625em;
    text-align: center;
  }
  th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  caption {
    font-size: 1.3em;
  }
  thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    margin-top: .625em;
  }
  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    &:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
/* FORM */
div.form
{   position: absolute;
    display: block;
    align-content: center;
}
form
{   position: relative;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}

div.card-stacked{
    background-color: transparent;
}
/* BUTTONS */
button 
{margin: 20px;
}


/* RESPONSIVE */
/* Larger than mobile */
@media screen and (min-width: 600px) {
  table {
    border: 0;
  }

}

@media (min-width: 400px) {
      h1 {
      font-size: 1.2em;
    }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
   h1 {
      font-size: 1.2em;
    }
}
/* Larger than tablet */
@media (min-width: 750px) {
   h1 {
      font-size: 1.2em;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    h1 {
      font-size: 0.8em;
    }
    .img {
       max-width: 60%;
       max-height: 60%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1000px) {
   h1 {
      font-size: 1.2em;
   }
    
   .img {
      max-width: 50%;
      max-height: 50%;
  }
}