@import 'application.scss';
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #ffffff;
$margin-type: 5px;

body {
  color: $primary-color;
  background-color: #4e4c4c;
}

main.Dark{
  h1, h2, h3, h4, h5, h6, p {
   color: $secondary-color;
   font-family: $font-stack;
   margin: $margin-type;
  }

  i {
    color: $secondary-color;
    background: $primary-color;
  }
}

.row {
   background-color:  $primary-color;
}