@import 'application.scss';
$font-stack: Helvetica, sans-serif;
$primary-color: #ffffff;
$secondary-color:  #5a5a5a;
$pop-color:#82cad3 ;
$margin-type: 5px;
$background: #b2b2b2;
body {
  color: $secondary-color;
  background-color: $background;
}
main.Dark{
  h1, h2, h3, h4, h5, h6, p {
   color: $secondary-color;
   font-family: $font-stack;
   margin: $margin-type;
  }
  i {
    color: $secondary-color;
    background: $primary-color;
  }
}
.row {
   background-color: $primary-color;
}
div {
  background-color: $primary-color;
  #header {
    background-color: $pop-color;
  }
  #header1 {
    background-color: $pop-color;
  }
}
/* TABLE */

table {
  border: 1px solid $secondary-color;
  tr {
    background: $primary-color;
    border: 1px solid $secondary-color;
  }
}
/* FOOTER */
.row #footer {
   height: auto;
   width: 100%;
   background-color: $pop-color;
   padding-left: 20px;
}
