<!DOCTYPE html>
<html>
<head>
	<title></title>
   
	<!-- meta data = brains -->
		<meta charset="utf-8">
		<meta name="description" content="Dashboard App for small business owners">
		<meta name="keywords" content="desktop app, dashboard, SME">
		<meta name="author" content="Rona Lochner">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
       <div id="app">


           <link rel="stylesheet" v-bind:href="current_template.value">
           <img class="logo" v-bind:src="current_template.logo"/>
          
          
        	<!-- Navigation Starts Here -->

			<div id="mySidenav" class="sidenav"> 

				  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

				  <a href="index.html">DASHBOARD<br><br></a>

				  <a href="form.html">NEW ENTRY<br><br></a>

			</div>

			<span id="hamburger" onclick="openNav()">&#9776;</span>
	

	<!-- Navigation Ends Here -->
          

        <div class="row1" id="header">
            <h1>DASHBOARD</h1>
        </div>
   	<!-- Totals Row Starts Here -->   
        <div class="row">
            <div class="three columns">

                <div class="six columns" id="income">
                    <div class="image">
                        <br>
                        <img src="img/income.png">
                        <br>
                    </div>
                </div>

                <div class="six columns">
                     <div class="card-stacked">
                        <h1>INCOME</h1>
                        <br>
                        <h4 id="total-income">{{ incomeCount() }}</h4> 
                    </div>
                </div>

            </div>

            <div class="three columns" id="expenses">      
                <div class="six columns">
                    <div class="image">
                        <br>
                        <img src="img/expenses.png">
                        <br>
                    </div>
                </div>

                <div class="six columns">
                     <div class="card-stacked">
                        <h1>EXPENSES</h1>
                        <br>
                        <h4 id="total-expenses">{{ expenseCount() }}</h4> 
                    </div>
                </div>
            </div>
            
            <div class="three columns" id="revenue">         
                <div class="six columns">
                    <div class="image">
                        <br>
                        <img src="img/revenue.png">
                        <br>
                    </div>
                </div>

                <div class="six columns">
                     <div class="card-stacked">
                        <h1>REVENUE</h1>
                        <br>
                        <h4 id="total-revenue">16,150</h4> 
                    </div>
                </div>
            </div>
            <div class="three columns" id="hours">         
                <div class="six columns">
                    <div class="image">
                        <br>
                        <img src="img/coffee.png">
                        <br>
                    </div>
                </div>

                <div class="six columns">
                     <div class="card-stacked">
                        <h1>HOURS</h1>
                        <br>
                        <h4>{{ hoursCount() }}</h4> 
                    </div>
                </div>
            </div>
        </div>

        <!-- TABLE -->
    <div class="row">
        <table>
          <caption>DATA SUMMARY</caption>
          <thead>
            <tr class="three columns">
                <template  v-for="value in tableHeader(tabledata)">
                    <th scope="col">{{ value }}</th>
                </template>
            </tr>
          </thead>
          <tbody>
             <template v-for="value in tabledata">
              <tr class="three columns">
                  <td data-label="month">{{ value.month }}</td>
                  <td data-label="income">{{ value.income }}</td> 
                  <td data-label="expenses">{{ value.expenses }}</td>
                  <td data-label="hours">{{ value.hours }}</td>
             </tr>
            </template>

          </tbody>
        </table>
     </div>
                      <!-- Linking stylesheets -->


         <template v-for="template in templates">
            <button v-on:click="setTemplate(template.id)">
               {{ template.name }}
               <span v-if="template.id == default_template">(Default)</span>
            </button>
         </template>
          
    </div>

    			<script>
			function openNav() {
			    document.getElementById("mySidenav").style.width = "250px";
			}

			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			}
			</script> 
    <!-- VueScripts -->
   <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-meta@1.2.0/lib/vue-meta.js"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src='js/application.js'></script>
</body>
</html>